* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  /* overflow: hidden; */
}

header {
  height: 74px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #000;
}

header .profile-photo {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 25px;
  margin-top: 14px;
  margin-left: 35px;
  cursor: pointer;
}

header .right-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 36px;
}

header .right-section a {
  margin-right: 20px;
  padding: 10px;
  cursor: pointer;
}

header .right-section a:hover {
  background: rgba(217, 217, 217, 1);
}

header .right-section a:nth-last-child(2) {
  margin-right: 0;
}

header .hamburger-menu {
  width: 34px;
  margin-left: 80px;
  padding: 10px;
  cursor: pointer;
}

header .hamburger-menu:hover {
  background: rgba(217, 217, 217, 1);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
}

main .greeting {
  width: 600px;
  height: 100px;
  margin-top: 80px;
  margin-bottom: 60px;
  font-size: 40px;
  font-weight: 600;
  line-height: 75px;
  border: 1px solid #000;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

main .horizontal-scroll {
  display: flex;
  width: 100vw;
  overflow-x: auto;
  padding-bottom: 10px;
  gap: 40px;
}

main .photos {
  position: relative;
  flex-shrink: 0;
  width: 300px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  box-shadow: 5px 5px 8px rgba(217, 217, 217, 1);;
}

main .photos:hover {
  opacity: 0.9;
}

.horizontal-scroll .photos:first-child {
  margin-left: 40px;
}

.horizontal-scroll .photos:last-child {
  margin-right: 40px;
}

main .photos img{
  width: 300px;
  height: 472px;
  object-fit: cover;
  object-position: center;
}

main .photos .photo-infos {
  width: 100%;
  max-width: 100%;
  height: 110px;
  position: absolute;
  border-top-left-radius: 50px;
  background-color: #fff;
  bottom: 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  /* white-space: normal; */
}

main .photos .photo-infos .title {
  font-size: 18px;
  font-weight: 600;
}

main .photos .photo-infos .desc {
  width: 230px;
  font-size: 12px;
  font-weight: 300;
}
